---
interface Props {
  uid: string;
  style: string;
}

const { uid, style } = Astro.props;
---

<div class={style} data-pf={`{"providerId":"generic-provider","componentKey": "card", "title": "Card", "groupId": "gridCard", "entryId": "${uid}","instanceId": "${uid}"}`}>
  <code>
    &lt;component
    <br />
    <span>
      data-pf="{"{"}...{"}"}"
    </span>{" "}
     /&gt;
  </code>
</div>
