---
import Logo from "./img/Logo.astro";
---

<nav class="ui-nav">
  <div>
    <Logo />
    <menu>
      <li>
        <a href="">Solutions</a>
      </li>
      <li>
        <a href="">Learn</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
    </menu>
    <a href="" class="ui-cta ui-cta--sm"> Get started</a>
  </div>
</nav>
