---
import Lock from "./img/Lock.astro";
import Card from "./Card.astro";
---

<main>
  <div class="ui-frame">
    <header>
      <nav></nav>
      <span>
        <Lock />
         your-preview.company.com
      </span>
      <span>+</span>
    </header>
    <code>
      &lt;body{" "}
      <span>
        data-pf="{"{"}...{"}"}"
      </span>
       &gt;
    </code>
    <section class="">
      <code>
        &lt;section{" "}
        <span>
          data-pf="{"{"}...{"}"}"
        </span>{" "}
         /&gt;
      </code>
      <section class="ui-section" data-pf='{"sectionId":"gridSection", "title": "Grid Section", "providerId":"generic-provider","entryId": "homepage"}'>
        <Card uid="card1" />
        <Card uid="card2" />
        <Card uid="card3" />
        <Card uid="card4" />
        <Card uid="card5" />
        <Card uid="card6" />
      </section>
    </section>
  </div>
</main>
